pydantic>=2.4.2
pytest>=7.4.2
hypothesis>=6.88.1
networkx>=3.1
matplotlib>=3.8.0
scipy>=1.11.3
numpy>=1.26.0
fastapi>=0.103.2
uvicorn>=0.23.2
httpx>=0.25.0          # fastapi.testclient
pydantic-settings>=2.0.3
